.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  text-indent: -999em;
  z-index: 1;

  &:after {
    content: 'X';
    color: #333;
    font-size: 24px;
    text-indent: 0;
    display: block;
    position: absolute;
    top: 0;
  }
}
